__pycache__
__pycache__/
.pyc

Dataset/
Dataset
venv/
venv
**/venv
.ipynb_checkpoints/
# We keep the essential CSV,ignore raw/heavy datasets
*.csv
!Model_training_data/Customer_Segmentation_Final.csv
!Recommendation_system/apriori_bestrules.csv


.vscode/
.idea/